html{
    background-color: #e9e9e9;
}
#contents{
    width: 55%;
    margin: auto;
    border-radius: 30px;
    background: #f9f9f9;
    padding: 40px;
    margin-top: 50px;
}
.content-box{
    margin-top: 50px;
}
h1{
    text-align: center;
    margin-bottom: 50px;
    color: #f9f9f9;
    font-size: 60px;
    margin-top: 0px;
    padding: 20px;
}
h3{
    font-size: 1.1em;
    padding-top: 30px;
}
nav a{
    border: solid grey 1px;
    padding-top: 5px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 5px;
    background-color: #e9e9e9;
    border-radius: 5px;
}
p{
    
}
li{
    margin-top: 30px;
}
header{
    width: 100%;
    height: 110px;
    background-color: #e9a301;
}
body{
    color: #333;
    margin: 0px;
    padding: 0px;
    font-family: helvetica, sans-serif;
}
nav{
    width: 100%;
    text-align: center;
}
nav a{
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    display: inline-block
}