<!--
FILE NAME: historie.html
WRITTEN BY: Liam Svanåsbakken Crouch
WHEN: November 2017
PURPOSE: Display timeline of c
-->
<!DOCTYPE html>
<html>

<head>
{% include header.html title="Historie" %}
</head>

<body>
    
    <div id="wrapper">
        <div id="content">
            {% include sideNav.html %}
            <div id="timeline">
              
              
            </div>
        </div>
    </div>
    {% include footer.html %}
    <script src="js/historie.js"></script>
  </body>

  </html>
