<!--
FILE NAME: om.html
WRITTEN BY: Olav Håberg Dimmen
WHEN: Oktober 2017
PURPOSE: Gi brukerne en enkel intro til studentpartiet som organisasjon
-->
<!DOCTYPE html>
<html>

<head>
{% include head.html title="Om oss" %}
</head>

<body>
    {% include header.html %}
    <div id="wrapper">
        <div id="content">
            {% include sideNav.html %}
            <div id="mainContent" class="omMain">
                    <h1 id="omTitle">Om oss</h1>
                    <p id="omContent">
                      <img src="img/logoGammel.PNG" alt="Studentpartiet">
                      <p id="omTekst">Studentpartiet er en studentdrevet virksomhet som baserer seg på studentenes frivillighet og engasjement.
                        Studentpartiet ble stiftet i 1920, etter mye klaging fra studenter som ikke ble hørt.
                        Målet var å opprette et landsdekkende "studentparti" som kunne ivareta alle landets studenter og tilby en plattform til diskusjon.
                        Studentpartiet har tatt del i mange samfunnsdebatter, og fikk sin første lov passert i 1925. 
                    </p>
                  <div class="clear-both"></div>
                  </div>
                </div>
    </div>
    {% include footer.html %}
  </body>

  </html>
