<!DOCTYPE html>
<!--
FILE NAME: program.html
WRITTEN BY: Kasper Maagerø Svendsen
WHEN: Oktober 2017
PURPOSE: brukere på siden skal ha mulighet til å sammenligne partiet med andre partier
-->
<html>

<head>
{% include head.html title="Program" %}
</head>

<body onload="utdanning(),velgParti(1)">
     {% include header.html %}
    <div id="wrapper">
        <div id="content">
            {% include sideNav.html %}
            <div id="programContent">

                <div id="programSak">
                  <div id="programNav">
                  <div id="programSaker">
                    <ul>
                      <li id="utdanning" onclick="utdanning()">
                        Utdanning
                      </li>
                      <li id="samferdsel" onclick="samferdsel()">
                        Kollektivtransport
                      </li>
                      <li id="programStotte" onclick="stotte()">
                        Bolig
                      </li>
                      <li id="arbeidogvelferd" onclick="arbeid()">
                        Arbeidslivet
                      </li>
                    </ul>
                </div>
                <div id="programAnnetParti">
                  <ul>
                    <li onclick="velgParti(1)" id="hoyre">
                      Høyre
                    </li>
                    <li onclick="velgParti(2)" id="sv">
                      Arbeiderpartiet
                    </li>
                    <li onclick="velgParti(3)" id="ap">
                      SV
                    </li>
                    <li onclick="velgParti(4)" id="frp">
                      Fremskrittspartiet
                    </li>
                  </ul>
                </div>
              </div>
                <div id="programMening">

                </div>
                <div id="programAnnetPartiMening">

                </div>

              </div>


            </div>

        </div>
    </div>
    {% include footer.html %}
    <script src="js/program.js"></script>
</body>

</html>
