<!DOCTYPE html>
<html>

<head>
{% include header.html title="Sitemap" %}
</head>

<body>
    {% include header.html %}
    <div id="wrapper">
        <div id="content">
            {% include sideNav.html %}
            <section id="sitemapContent">
              <div class="sitemapContainer">
                  <h1>Nettside-oversikt</h1>
                  <ul>
                      <li><a href="index.html">Hovedside</a></li>
                      <li><a href="historie.html">Historie</a></li>
                      <li><a href="om.html">Om</a></li>
                      <li><a href="politikere.html">Politikere</a></li>
                      <li><a href="program.html">Politisk program</a></li>
                      <li><a href="stotte.html">Støtt oss</a></li>
                      <li><a href="kontakt.html">Kontakt</a></li>
                  </ul>
              </div>
            </section>

        </div>
    </div>
    {% include footer.html %}
    <script src="js/program.js"></script>
</body>

</html>
