<footer class="footer">
        <p>
            <a href="kontakt.html" class="link">Kontakt oss</a>
            <a href="sitemap.html" class="link">Side-oversikt</a>
            <a href="http://facebook.com/studentpartiet"><i class="fa fa-facebook"></i></a>
            <a href="http://twitter.com/studentpartiet"><i class="fa fa-twitter"></i></a>
            <br>
            &copy; Copyright 2016 -
            <script>
                document.write(new Date().getFullYear())

            </script>, Studentpartiet.
            <br>
        </p>
</footer>
<script src="js/navigation.js"></script>