body {
	padding: 0;
	margin: 0;
	background-color: #e8e8e8;
}

header {
	width: 100%;
	background-color: #e9a301;
	box-shadow: 0px 0px 5px #e9a301;
	font-family: 'Product Sans',Arial,sans-serif;
	height: 75px;
	position: relative
}

aside {
	width: 0%;
	float: left;
	background-color: white;
	height: calc(100% - 75px);
	display: none;
}

section {
	width: 100%;
	float: right;
	height: calc(100% - 75px);
}

footer {
	background-color: #e9a301;
	position: relative;
  	margin-top: -50px;
  	height: 50px;
}

#wrapper {
	min-height: calc(100% - 75px);
	overflow: auto;
}

#innerContent {
  	padding-bottom: 75px;
}

.menuContainer {
	height: 100%;
	display: flex;
}

.menu {
	padding: 10px;
	width: 100%;
	align-items: center;
	display: flex;
}

.hamburgerButton {
	font-size: 1.5em;
}


.logo {
	padding-left: 10px;
	padding-right: 10px;
}

.logo img {
	height: 100%;
}

.logo h1 {	
	font-weight: normal;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

@media (max-width : 500px) {
	#footerMenu {
		font-size: 0.8em;
	}
}

@media (max-width : 400px) {
	#footerMenu {
		font-size: 0.65em;
	}
}

#footerMenu {
	justify-content:center;
	align-items:center;
	display: flex;
}

#footerMenu ul {
	display: flex;

}

#footerMenu ul li {
	list-style-type: none;
	padding-right: 5px;
	padding-left: 5px;
}

